{{#each this}}
<li class="homepage-list__li" id = {{this.id}}>
    <div class="homepage-list__poster-wrapper">
          {{#if this.backdrop_path}}
    <img class="homepage-list__poster-img" src ="https://image.tmdb.org/t/p/w1280{{this.backdrop_path}}"  id = {{this.id}} alt="MOVIE ID :{{this.id}}" width="298" height="156" />
  {{/if}}
        
    </div>
    <p class="homepage-list__moviename">{{this.original_title}}</p>
</li>
{{/each}}


